<html>

<head>
    <% include  ../../partials/head %>
        <style>
            .validationFormControl {
                color: red;
            }
        </style>
        <!-- Propeller dataTables css-->
</head>

<body>
    <% include  ../../partials/header %>
        <!-- Overlay for sidebar -->
        <div class="sidebar-overlay"></div>
        <!-- Left sidebar -->
        <% include  ../../partials/leftsidebar %>
            <div id="content" class="pmd-content content-area dashboard">
                <h1>Page Not Found</h1>
            </div>
</div>
            <% include  ../../partials/footertext %>
                <% include  ../../partials/footer %>
                    <script src="assets/js/platform.js" async defer></script>
                    <script src="javascripts/conformation.min.js" charset="utf-8"></script>

</body>

</html>
