<footer class="admin-footer">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline">
            <li>
                <span class="pmd-card-subtitle-text">Nodejs Structure &copy; 2016. All Rights Reserved.</span>
                <h3 class="pmd-card-subtitle-text">Licensed under <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license.</a></h3>
            </li>
        </ul>
    </div>
    <button type="button" id ="btnSuccess" style="display:none" data-positionX="right" data-positionY="top" data-effect="fadeInUp" data-message="Well done! You successfully read this important alert message." data-type="success" class="btn pmd-ripple-effect btn-success pmd-z-depth pmd-alert-toggle">Alert Success</button>
    <!--Error Alert -->
    <button type="button" id ="btnError" style="display:none"  data-positionX="right" data-positionY="top" data-effect="fadeInUp" data-message="" data-type="error" class="btn pmd-ripple-effect btn-danger pmd-z-depth pmd-alert-toggle">Alert Error</button>
</footer>
